.appContent{
    width: 600px;
    height: 600px;
    background: rgba(24, 235, 176, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(24, 235, 176, 0.3);

    padding: 12px 25px 12px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    color: #4A6D7C;
}

.content{
    width: 600px;
    height: 460px;
    background: #fff;
    border-radius:  4px;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
